extends ../layout

block content
  .page-header
    h3 Shrine Configuration

  form.form-horizontal(action='/generator/create', enctype='multipart/form-data', method='POST')
    input(type='hidden', name='_csrf', value=_csrf)
    input(type='hidden', name='_id', value=_id)
    .form-group
      label.col-sm-3.control-label(for='name') Name
      .col-sm-7
        input.form-control(type='text', name='name', id='name', value=name)
    .form-group
      label.col-sm-3.control-label(for='description') Description
      .col-sm-7
        input.form-control(type='text', name='description', id='description', value=description)
    .form-group
      label.col-sm-3.control-label(for='subdomain') Subdomain
      .col-sm-7
        input.form-control(type='text', name='subdomain', id='subdomain', value=subdomain)

    .form-group
      label.control-label Image Upload
      input(type='file', name='images', id='images', multiple)
      
    .form-group  
      label.col-sm-3.control-label(for='music') Music
    
      .col-sm-7
        .radio
          input(type='radio', name='music', id='music', value='audio.mp3') 
          | Sax
        .radio
          input(type='radio', name='music', id='music', value='audio2.mp3') 
          | Ooh yeah
        .radio
          input(type='radio', name='music', id='music', value='im-too-sexy.mp3') 
          | Im too sexy
        .radio
          input(type='radio', name='music', id='music', value='sex-bomb.mp3') 
          | Sex bomb
        .radio
          input(type='radio', name='music', id='music', value='sexy-and-i-know-it.mp3') 
          | sexy and i know it
    
    .form-group
      .col-sm-offset-3.col-sm-4
        button.btn.btn.btn-primary(type='submit')
          i.fa.fa-pencil
          | Create Shrine
